{% extends 'base_template.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link href={{ asset('style/platform/form_contact_new.css') }} type="text/css" rel="stylesheet" media="all">
{% endblock %}	


{% block main_content %}
	<div id="main_content">	
	
		<p>Vous souhaitez nous contactez au sujet d'un problème que vous rencontrez sur la plateforme, et vous ne trouvez aucune solution? 
		Vous souhaitez obtenir des informations plus spécifiques ou simplement nous adresser un message, ça tombe bien vous trouverez ci-dessous un formulaire
		dédié pour celà.
		Le message est destiné à notre responsable de la communication et sera traité dans un délai pouvant aller jusqu'à trois semaines. Alors merci de ne pas le relancer
		régulièrement. Un retour vous sera fait par voie de message privé sur cette plateforme.</p> 
	
		<h1>formulaire de contact</h1>
		
	    {{ form(form) }}
		
		
	</div>
{% endblock %}




        