{% extends 'memberArea/figure/figure.html.twig' %}

	
{% block figure_page %}

	page d'équipement

<ul>armes
</ul>

<ul>armures
	{% for armor in figure.armors %}
		{{ armor.name }}
	{% endfor %}
</ul>


<ul>bouclier
</ul>

<ul>matériels divers
</ul>

<ul>richesses:
	{% for currency in currencies %}
		<li><label>{{ currency.currency.name }}</label>{{ currency.value }}</li>
	{% endfor %}
</ul>

		
{% endblock %}
	
