{% extends 'memberArea/figure/figure.html.twig' %}

	
{% block figure_page %}

	page d'équipement

armes



armures



bouclier


matériels divers


<ul>richesses:
	{% for currency in currencies %}
		<li><label>{{ currency.currency.name }}</label>{{ currency.value }}</li>
	{% endfor %}
</ul>

		
{% endblock %}
	
