{% extends 'memberArea/homepage.html.twig' %}




	
{% block content_member %}
			
	liste de mes personnages :
	{% for figure in figures %}
		<a href="{{ path('figure_find', {'id': figure.figure, 'game': figure.campaign.game.id}) }}">{{ figure.name }}</a>
																							<label>jeu</label>{{ figure.campaign.game.code }}
																							<label>campagne : </label>{{ figure.campaign.name }}
	{% endfor %}
		
{% endblock %}
	
