{% extends 'memberArea/figure/figure.html.twig' %}

	
{% block figure_page %}


page de caste
<ul>
	<li><label>caste</label>  {{ figure.caste }}</li>
	<li><label>statut</label></li>
</ul>	

<ul>benefices
</ul>

<u>techniques
</u>

<ul>privilèges
</ul>
		
{% endblock %}
	
