{% extends 'base_template.html.twig' %}




	
{% block main_content %}
	ceci est la page d accueil pour un membre
	<a href=""><a href="">personnages</a><a href="">campagnes</a><a href="{{ path('admin') }}">administration</a>
		{% block content_member %}
		{% endblock %}
{% endblock %}
	
