{% extends 'base_template.html.twig' %}
	
{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('style/platform/homepage.css') }}" type="text/css" rel="stylesheet" media="all">
{% endblock %}	
	
{% block main_content %}
	
	<div id="main_content">
    	page de documentation et d'aide pour 
    	- maitre de jeu
    	- joueurs
    	- utiliser simplement les fonctionnalités
	</div>

{% endblock %}


