{% extends 'base_template.html.twig' %}
	
{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('style/platform/homepage.css') }}" type="text/css" rel="stylesheet" media="all">
{% endblock %}	
	
{% block main_content %}
	
	<div id="main_content">
    	page de documentation et d'aide pour utiliser les fonctionnalités présentes sur Univertuel.
    	<nav>
        	<ul>
        		<li>maitre de jeu</li>
        		<li>joueurs</li>
    		</ul>
		</nav>
	</div>

{% endblock %}


