{% extends 'base.html.twig' %}

{% block stylesheets %}
      <link href="{{ asset('style/base_template.css') }}" rel="stylesheet" media="all" >   
      {#<link rel='stylesheet' media='screen and (min-width: 701px)' href='medium.css' />#}
      <style>
      	.notVisible
      	{
      		display:none;
      	}
      </style>
{% endblock %}






{% block body %}

<div id="main_layout">

	{% include 'header.html.twig' %}
	
	{% block main_content %}
	
	Initialisation des désavantages de votre personnage
	
		<p>experience restante</p> <p id="xp"></p>

	{{ form(form) }}


	
	
	
	{% endblock %}
	
	{% include 'footer.html.twig' %}

</div>
<script>



</script>


{% endblock %}