{% extends 'memberArea/homepage.html.twig' %}




	{% block content_member %}
	
		{% for campaign in campaigns %}
		    <a href="{{ path('see_other_campaign', {'id': campaign.id} ) }}">{{ campaign.name }}</a>{{ campaign.owner.username }}- {{ campaign.game.name }}
	    {% endfor %}
	{% endblock %}

	
