{% extends 'base.html.twig' %}

{% block stylesheets %}
      <link href="{{ asset('style/base_template.css') }}" rel="stylesheet" media="all" >   
      {#<link rel='stylesheet' media='screen and (min-width: 701px)' href='medium.css' />#}
{% endblock %}


{% block js %}

<script src="{{ asset('script/base_template.js') }}"  >

{% endblock %}



{% block body %}

<div id="main_layout">

	{% include 'header.html.twig' %}
	
	{% block main_content %}
	{% endblock %}
	
	{% include 'footer.html.twig' %}

</div>

{% endblock %}