{% extends 'base_template.html.twig' %}
	
{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('style/platform/aivailable_games.css') }}" type="text/css" rel="stylesheet" media="all">
{% endblock %}	
	
{% block main_content %}
	
	<div id="main_content">
    	<p>Vous trouverez ci-dessous la liste des jeux de rôle pour lesquels vous pourrez créer des campagnes sur Univertuel, et faire jouer vos joueurs.</p>	
	{% for game in games %}
		<ul><li>{{ game.name }}</li><li>{{ game.description }}</li></ul>
	{% endfor %}
	
	<p>Et disponible prochainement sur Univertuel :</p>
	<ul>
		<li>Dark Earth v1 et v2</li>
		<li>Star Trek</li>
	</ul>
	</div>
	
{% endblock %}


