{% extends 'base_template.html.twig' %}
	
{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('style/platform/aivailable_games.css') }}" type="text/css" rel="stylesheet" media="all">
{% endblock %}	
	
{% block main_content %}
	
	<div id="main_content">
    	
    	<div>
    		<p>Vous trouverez ci-dessous la liste des jeux de rôle pour lesquels vous pourrez créer des campagnes sur Univertuel, et faire jouer vos joueurs.</p>	
		</div>
		
		<div>
        	
        	{% for game in games %}
        		
        		<ul>
        			<li><label>{{ game.name }}</label><p>{{ game.description }}</p></li>
        		</ul>
        	
        	{% endfor %}
	
		</div>
	
		<div>
		
        	<p>Et disponible bientôtt sur Univertuel :</p>
        	<ul>
        		<li>Dark Earth v1 et v2</li>
        		<li>Star Trek</li>
        	</ul>
        	
        </div>
	</div>
	
{% endblock %}


