{% extends 'memberArea/homepage.html.twig' %}

{% block stylesheets %}
    
    {{ parent() }}
      {#<link href="{{ asset('style/base_template.css') }}" rel="stylesheet" media="all" >   #}
      {#<link rel='stylesheet' media='screen and (min-width: 701px)' href='medium.css' />#}
{% endblock %}


	
{% block content_member %}

	ceci est la page  des contacts du membre
	<a href="{{ path('find') }}" >rechercher un membre</a>
	{#
	<ul>mes contacts
		{% for contact in user.relations %}
			<li><a href="{{ path('profile', {'id': user.relations.id}) }}">c1</a></li>
		{% endfor %}
	</ul>
	#}
	
{% endblock %}
	
