{% extends 'memberArea/homepage.html.twig' %}




	
{% block content_member %}
	cfeci est la page  d accueil des administrateurs
	<ul>
		<li><a href="{{ path('new_game') }}">creer un jeu</a></li>
		<li><a href="{{ path('setup_prophecy') }}">Prophecy</a></li>
		<li><a href="">Dark Earth</a></li>
		<li><a href="">utilisateurs</a></li>
	</ul>
	 
	
	{% block game_setup %}
	
	{% endblock %}
	
	{% block component_game %}

    {% endblock %}
	
{% endblock %}
	
