{% extends 'memberArea/homepage.html.twig' %}




	
{% block content_member %}
	cfeci est la page  d accueil des administrateurs
	<a href="{{ path('new_game') }}">creer un jeu</a><a href="{{ path('setup_prophecy') }}">Prophecy</a>  <a href="">Dark Earth</a>
	{% block game_setup %}
	{% endblock %}
	
	{% block component_game %}

{% endblock %}
	
{% endblock %}
	
