{% extends 'memberArea/admin/game/prophecy/prophecy_setup.html.twig' %}


{% block component_game %}
	{{ title }}
	
	<ul>liste éléments existents
	{% for item in items %}
		<li>{{ item.name }}</li>
	{% endfor %}
	</ul>
	
{{ form(form) }}
{% endblock %}

	

	
